*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

.maincontainer{
    width: 100%;
    height: 100vh;
    padding-inline: 50px;
    background-color: rgb(192, 192, 211);
    display: flex;
    align-items: end;
    justify-content: center;

}
.mainblock{
    height: 90%;
    width: 90%;
    background-color: white;
    border-radius: 10px;
    padding: 30px;
}
.navbar{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav1{
    width: 20%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.heading{
    display: flex;
    align-items: center;
    gap: 5px;
}
.heading h6{
    font-size: 15px;
}

.heading2{
    display: flex;
    align-items: center;
    gap: 5px;
}
.heading2 h6{
    font-size: 15px;
}

.nav2{
    width: 80%;
    height: auto;
    display: flex;
    justify-content: end;
    gap: 10px;
}
.nav2 button{
height: 35px;
width: 85px;
border-radius: 30px;
background-color: white;
border: 2px solid grey;
}
.nav2 #btt{
    background-color: rgb(20, 20, 83);
    color: white;
    border: none;
}
.mainblock hr{
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    height: auto;
    padding: none;
}
.navbar2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.d1{
    width: 40%;
    height: auto;
    display: flex;
    align-items: start;
    gap: 20px;
}

.d2{
 width: 60%;
 height: auto;
 display: flex;
 align-items: center;
 justify-content: end;
}

.maincontent{
    width: 100%;
    height: auto;
    display: flex;
}

.left{
    height: auto;
    width: 60%;
}
.left img{
    width: 80%;
    margin-bottom: 10px;
}
.left h1{
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.left h2{
    font-size: 25px;
    margin-bottom: 10px;
}
.left p{
    margin-bottom: 10px;
}
.circle{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-image: url(./pexels-sound-on-3755918.jpg);
    background-position: center;
    background-size: cover;
}
.left span{
    display: flex;
    align-items: center;
}
.left span h6{
    font-size: 12px;
    color: gray;
}
.right{
    height: auto;
    width: 50%;
}
.h55{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: end;
}
.cff{
    width: 100%;
    height: 80%;
    display: flex;
}
.r1{
    height: 100%;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.r1 img{
    width: 90%;
}

.r2{
    height: 100%;
    width: 65%;
    padding-left: 20px;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    flex-direction: column;
}

.circle2{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-image: url(./images\ \(1\).jpg);
    background-position: center;
    background-size: cover;
}
.r2 span{
    display: flex;
    align-items: center;
}
.r2 span h6{
    font-size: 12px;
    color: gray;
}
.circle3{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-image: url(./download.jpg);
    background-position: center;
    background-size: cover;
}

.circle4{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-image: url(./download\ \(1\).jpg);
    background-position: center;
    background-size: cover;
}
.s11{
    display: flex;
    flex-direction: column;
}
.s22{
    margin-top: 20px;
}

.s33{
    margin-top: 25px;
}


/* Responsive css code */


@media (max-width: 768px) {


    .maincontainer{
        width: 100%;
        height: auto;

    }


    .mainblock{
        width: 90%;
        height: auto;
    }


    .navbar{
        width: 100%;
        height: auto;
    }
    .navbar .nav1{
        display: none;
    }


    .navbar2{
        width: 100%;
        height: auto;
        display: none;
    }
  

    .maincontent{
        width: 100%;
        height: auto;
        flex-direction: column;
    }
    
    .left{
        width: 100%;
        height: auto;
    }

    .right{
        width: 100%;
        height: auto;
    }

    .cff{
        width: 100%;
        height: auto;
    }

    .r1{
        height: auto;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        
    }

    .r2{

        height: auto;

    }
    .s11 h2{
        font-size: 1em;
    }
    .s22 h2{
        font-size: 1em;
    }
    .s33 h2{
        font-size: 1em;
    }

    .h55 {
        font-size: 0.9em;
    }

    .left h2 br{
        display: none;

    }
}